* {
  font-family: "Sulphur Point", sans-serif;
}

body {
  margin: 0;
  background: white;
}

.pink-color {
  color: #fa697c;
}

.yellow-color {
  color: #fed337;
}

.orange-color {
  color: #da9101;
}

.black-background {
  background: #e3e3e3;
}

.green-color {
  color: #666103;
}

#intro {
  height: 200px;
  display: flex;
  align-items: center;
}

#motivations-charts {
  height: 600px;
  width: 650px;
}

#usage-charts {
  height: 320px;
  width: 650px;
}

.dating-charts-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dating-section {
  padding-left: 50px;
}

.gender-age-switcher {
  padding-top: 30px;
  font-size: 16px;
}

#dating-motivations-subheader {
  padding-left: 190px;
}
.h1-style {
  margin: 0;
  padding-left: 50px;
  font-size: 28px;
  color: black;
}

.h2-style {
  margin: 0;
  padding-top: 50px;
  font-size: 16px;
}

.dating-label {
  font-size: 8pt;
}

.axis {
  font-size: 8pt;
}
